body {
    background-color: #f5f5f5;
    font-family: 'Raleway', sans-serif;
    color: #333333;
}

body.dark {
    background-color: #141d26;
    color: #ffffff;
}

* {
    margin: 0px;
    padding: 0px;
}

.padding-10 {
    background-color: rgba(255, 255, 255);
    height: 100%;
}

.padding-10:hover {
    background-color: rgba(255, 255, 255);
    height: 100%;
}

div.dark {
    background-color: #243447;
    background-color: rgba(40, 40, 55, 0.8);
    color: aliceblue;
    height: 100%;
}


div.light {
    background-color: rgba(255, 255, 255, 0.8);
    height: 100%;
}

.side,
.main {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

h5.titel {
    font-size: 18px;
    padding: 20px;
    margin: 0px;
    color: 	#599ad0;

    letter-spacing: 1px;
    border-bottom: 1px solid #e6e6e6;    
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

ul {
    list-style: none;
    margin: 0px;
}

.topmenu .sticky{
    position: fixed;
    top: 0;
}

.topmenu ul li,
.topmenu ul li a{
    list-style-type: none;
    margin: 0;
    padding: 0;    
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
    color: 	#f5f5f5;
}

.personal-info {
    padding: 15px;
    border-bottom: 1px solid #e6e6e6;
    margin: 0px;
}

.personal-info li p {
    margin: 0px;
    line-height: 30px;
}

.programmer-info li{
    list-style-type: disc;
}

.personal-info li span {
    width: 40%;
    float: left;
    text-transform: uppercase;
    font-weight: bold;
}

p {
    font-size: 14px;
    letter-spacing: 0.5px;
    text-rendering: optimizeLegibility;
    text-align: left;
}

.bor-btm {
    border-bottom: 1px solid #e6e6e6;
}

.padding-25 {
    padding: 20px;
    padding-bottom: 5px;
}

.skill {
    font-weight: bolder;
    text-transform: uppercase;
}

p {
    margin: 0px;
}


.contain {
    padding: 20px;
    padding-bottom: 0px;
    
}

.fatupper {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 14px;
    padding-top: 5px;
}

.date {
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
    width: 130px;
}

.col-md-8 h6 {
    margin-top: 0px;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: bold;
}

.company {
    font-style: bolder;
}

.company-desc {
    font-style: italic;
    font-size: 12px;
}

.job {
    margin-bottom: 15px;    
}

.space {
    margin: 5px;
}

a{
    font-weight: bold
}

a:link {
    color: 	#599ad0;
}

a:visited {
    color: 	#599ad0;
}

a:hover {
    color: 	#599ad0;
}

/* selected link */
a:active {
    color: 	#599ad0;
}

footer,
header {
    background-color: 	#599ad0
}

.white {
    color: aliceblue
}

h4 {
    text-align: center;
    padding-top: 15px;
    color: white;
    font-size: 1.7em        
}

.col-md-10 li {
    font-size: 14px;
}

@page {
    width: 210mm;
    height: 297mm;
    margin: 0;
    background-color: white;
}

@media print {
    .dont-break {
        page-break-inside: avoid;
    }

    html,
    body {
        font-size: 115%;
        width: 100vh;
        margin: 0px auto;
        top: 0px;
        bottom: 0px;
        width: auto;
        height: 100vh;
        background-color: white;
        padding: 0px;

    }
    
    .container {
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    
    a {
        text-decoration: none;
    }
}

.pointer {
    cursor: pointer;
}

.space-10 {
    height: 20px;
    width: 100%;
}

#career {
    font-size: 100%;
}

.side h5 {
    text-align: center;
}

.projects{
    text-decoration: underline;
    margin-top: 10px;
}

ul.bragging li{
    list-style-position: outside;
    list-style-type: disc;    
    font-size: 16px;
}

ul.sublang li{
    list-style-position: inside;
    list-style-type: none;
    font-size: 14px;
    text-indent: 35px;
}

ul.sublang li:before{
    content: '✔';
    margin-left: -1em;
    margin-right: .100em;
}

@media(min-width:320px) and (max-width:1024px){
    .left2 {
        text-align: left !important;
    }
    
    .card__price {
        text-align: right !important;
    }
    
    .left2 {
        text-align: left !important;
    }
} 